.flexRowBigContainer {
    width: 100%;
   display: flex;
  padding: auto;
   flex-direction: column;
 }
 .BasicBarContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* border-right: 1px solid #ccc; */
 }
 .inputTextFiled {
   width: 100%;
   display: flex;
   margin: "1rem 0";
 }
 .clientCredentialsContainer {
   width: 100%;
   padding: 2rem;
   margin-bottom: 1rem;
   border-radius: 0.1rem;
   border: 1px solid rgba(70, 70, 70, 0.527);
 }
 
 .clientHeaderName {
   margin: 0;
   padding-left: 0;
 }
 .clientIDContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
 }
 .textFieldContainer {
   width: 70%;
  
 }
 .textFieldContainer1{
   width: 70%;
  
 }
 .copyBtnStyle {
   border: 1px solid #3f51b5;
   padding: 0.296rem 1rem;
   background-color: white;
 }
 .clientIDDescription {
   width: 97%;
   /* float: right; */
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   font-size: 0.9rem;
   color: grey;
 
   opacity: 0.8;
   padding: 0;
 }
 .clientCredentialSettingContainer {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 a {
   text-decoration: none;
 }
 button {
   cursor: pointer;
 }
 .adminFlexRow {
   color: #273e47;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 60%;
   margin: 0 auto;
 }
 
 .dialogActionFlex {
   display: flex;
   flex-direction: row;
   width: 90%;
   justify-content: space-evenly;
   margin: 0 auto;
 }
 
 .valuesBlock{
   font-size: 0.85rem;
   font-weight: bold;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }